.carousel-container {
  width: 80%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;

    .item {
      opacity: 0;
      width: 100%;
      height: 100%;
      display: none;
      transition: opacity 0.5s ease-in-out;

      img {
        width: 100%;
        height: 385px;
        border-radius: 10px;
      }

      &.active {
        opacity: 1;
        display: block;
      }
    }

    &:hover .btn {
      display: block;
      opacity: 0.8;
      transition: opacity 0.3s ease, display 0s 0.3s;
    }
  }

  .btn {
    display: none;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: $text-color;
    background-color: $button-hover-color;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.169);
    transition: transform 0.2s ease-in-out, opacity 0.3s ease, display 0s 0.3s;

    &.prev,
    &.next {
      background-color: #ffffff;
      border-radius: 50px;
      width: 40px;
      height: 40px;
    }

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }
}

.carousel-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
}

.card {
  width: 303px;
  height: 385px;
  background: white;
  color: $primary-color;
  padding: 13px;
  border: 3px solid $secondary-color;
  border-radius: 10px;
  font-family: Arial, sans-serif;

  &-yellBtn {
    background-color: rgb(255, 251, 0);
    color: black;
    width: 150px;
    border-radius: 5px;

    &-span {
      padding: 5px 2px;
      font-weight: 300;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-top {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 2px 5px;
    width: 50px;

    &_p {
      color: black;
      margin-bottom: 20px;
    }

    &_img {
      width: 170px;
      margin: 0 auto;
    }
  }

  &-price {
    display: flex;
    align-items: center;
  }

  &-tree {
    display: flex;
    justify-content: space-between;
  }

  .price {
    font-size: 16px;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.365);
  }

  .discounted-price {
    font-size: 22px;
    color: $secondary-color;
    margin-bottom: 5px;
  }

  .timer span {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.251);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
  }
}

.dots {
  position: absolute;
  margin-top: 20px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 100;

  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: rgba(56, 0, 56, 0.185);
    transition: background-color 0.2s;

    &.active,
    &:hover {
      background-color: red;
    }
  }
}

.slider {
  display: flex;
  overflow: hidden;
  cursor: grab;
  scroll-behavior: smooth;
  width: 100%;

  .card-wrapper {
    flex: 0 0 100%;
    transition: transform 0.3s ease-in-out;
    user-select: none;

    &:active {
      cursor: grabbing;
    }

    .card-top_img img {
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
}
